@model WebApplication1.Models.Entity.admin

@{
    ViewBag.Title = "AdminDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h4>Sifre Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Admin ID")
    @Html.TextBoxFor(x => x.id, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.kullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.sifre, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>




